@mixin underline {
    position: absolute;
    bottom: -10px;
    left: 0px;
    content: '';
    background-color: #e31837;
    width: 0px;
    height: 2px;
    border-radius: 2px;
    transition: all 0.3s;
}

.auth {
    .auth-navigation {
        display: block;
        text-align: center;
        margin-bottom: 2rem;
        span {
            color: #666;
            margin-right: 0.5rem;
            margin-bottom: 2rem;
            font-weight: 700;
            cursor: pointer;
            position: relative;
            &.active {
                color: #e31837;
                &::after {
                    @include underline;
                    background-color: #e31837;
                    width: 100%;
                }
            }
            &::after {
                @include underline;
            }
            &:hover {
                color: #e31837;
                &::after {
                    width: 100%;
                }
            }
        }
    }

    .auth-section {
        display: flex;
        margin: 0 auto;
        max-width: 50%;
        .auth-background {
            flex-basis: 30%;
        }
        .auth-form {
            flex-basis: 70%;
            padding-left: 1rem;
        }
    }
}
