.field {
    margin-bottom: 1rem;
    label {
        display: inline-block;
        margin-bottom: 0.5rem;
        color: #0078ae;
        font-weight: 600;
    }
    input {
        display: block;
        width: 100%;
        height: 40px;
        padding: 0 20px;
        font-size: 1rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        &:focus {
            color: #495057;
            background-color: #fff;
            border-color: #80bdff;
            outline: 0;
            box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
        }
    }
    .error {
        color: #dc3545;
        font-size: 13px;
    }
}

button {
    color: #fff;
    border: 1px solid #e31837;
    background-color: #e31837;
    transition: all 0.3s;
    width: 100%;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    text-align: center;
    border-radius: 4px;
    font-weight: 700;
    cursor: pointer;
    &:hover {
        border: 1px solid #b5132c;
        background-color: #b5132c;
    }
}
