* {
    font-family: 'Circular Std', -apple-system, BlinkMacSystemFont, 'Segoe UI',
        Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Noto Color Emoji';
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
}

.page-content-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    .main-content {
        padding: 20px 12.5%;
        height: 100%;
        overflow: auto;
    }
}

.text-danger {
    color: #e31837;
    font-size: 13px;
}

@import './normalize.scss';
@import './fields.scss';
