header {
    width: 100%;
    height: 80px;
    background-color: #004666;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #fff;
    .logo {
        cursor: pointer;
    }
    .list-menu {
        ul {
            list-style: none;
            display: flex;
            align-items: center;
            text-transform: uppercase;
            li {
                a {
                    padding: 0 20px;
                    cursor: pointer;
                    height: 5rem;
                    display: flex;
                    align-items: center;
                    color: #fff;
                    text-decoration: none;
                    font-weight: 600;
                    &.active,
                    &:hover {
                        background-color: #00628f;
                    }
                }
            }
        }
    }
    .setting {
        display: flex;
        align-items: center;
        svg {
            cursor: pointer;
        }
        .user {
        }
        .card {
        }
    }
}
