.product-list {
    display: flex;
    align-items: center;
    .product {
        flex-basis: 25%;
        border: 1px solid #ddd;
        border-radius: 8px;
        text-align: center;
        overflow: hidden;
        img {
            border-radius: 8px;
            margin-bottom: 16px;
            transition: all 0.3s;
            &:hover {
                transform: scale(1.1);
            }
        }
        .name {
            margin-bottom: 8px;
            a {
                color: #0078ae;
                text-decoration: none;
                font-weight: bold;
                font-size: 14px;
                margin-bottom: 8px;
            }
        }
        .price {
            margin-bottom: 16px;
        }
    }
}
